.allDiceContainer.row
  .col.s2.push-s1
    .dieContainer
      #die1.dieCube(ng-click="ctrl.toggleDie('die1')")
        .front
          h4 1
        .back
          h4 6
        .right
          h4 3
        .left
          h4 4
        .top
          h4 5
        .bottom
          h4 2

  .col.s2.push-s1
    .dieContainer
      #die2.dieCube(ng-click="ctrl.toggleDie('die2')")
        .front
          h4 1
        .back
          h4 6
        .right
          h4 3
        .left
          h4 4
        .top
          h4 5
        .bottom
          h4 2

  .col.s2.push-s1
    .dieContainer
      #die3.dieCube(ng-click="ctrl.toggleDie('die3')")
        .front
          h4 1
        .back
          h4 6
        .right
          h4 3
        .left
          h4 4
        .top
          h4 5
        .bottom
          h4 2

  .col.s2.push-s1
    .dieContainer
      #die4.dieCube(ng-click="ctrl.toggleDie('die4')")
        .front
          h4 1
        .back
          h4 6
        .right
          h4 3
        .left
          h4 4
        .top
          h4 5
        .bottom
          h4 2

  .col.s2.push-s1
    .dieContainer
      #die5.dieCube(ng-click="ctrl.toggleDie('die5')")
        .front
          h4 1
        .back
          h4 6
        .right
          h4 3
        .left
          h4 4
        .top
          h4 5
        .bottom
          h4 2