.card#scorecard
  .row
    h2.col.s12 Scorecard

    table.col.s12.m6
      thead
        tr
          th Number Section
          th What to Score
          th Player Score

      tbody
        tr
          td Aces
          td Total of Aces
          td
        tr
          td Twos
          td Total of Twos
          td
        tr
          td Threes
          td Total of Threes
          td
        tr
          td Fours
          td Total of Fours
          td
        tr
          td Fives
          td Total of Fives
          td
        tr
          td Sixes
          td Total of Sixes
          td
        tr
          td Bonus
          td 35 Points
          td

    table.col.s12.m6
      thead
        tr
          th Pattern Section
          th What to Score
          th Player Score
      tbody
        tr
          td Three of a Kind
          td Total of All Dice
          td
        tr
          td Four of a Kind
          td Total of All Dice
          td
        tr
          td Full House
          td 25 Points
          td
        tr
          td Small Straight
          td 30 points
          td
        tr
          td Large Straight
          td 40 Points
          td
        tr
          td Yahtzee!
          td 50 Points
          td
        tr
          td Chance
          td Total of All Dice
          td
    h2.col.s12 Total:




