.scoreBoard(ng-repeat="player in ctrl.players")
 .card#scorecard
    .row
      h2.col.s12 Scorecard {{player.name}}

      table.col.s12.m6
        thead
          tr
            th Number Section
            th What to Score
            th Score

        tbody
          tr
            td Aces
            td Total of Aces
            td {{player.score.aces}}
              button.btn(ng-hide='player.score.aces' ng-click="player.scoreField(ctrl.dice, 'aces')") Use
          tr
            td Twos
            td Total of Twos
            td {{player.score.twos}}
              button.btn(ng-hide='player.score.twos' ng-click="player.scoreField(ctrl.dice, 'twos')") Use
          tr
            td Threes
            td Total of Threes
            td {{player.score.threes}}
              button.btn(ng-hide='player.score.threes' ng-click="player.scoreField(ctrl.dice, 'threes')") Use
          tr
            td Fours
            td Total of Fours
            td {{player.score.fours}}
              button.btn(ng-hide='player.score.fours' ng-click="player.scoreField(ctrl.dice, 'fours')") Use
          tr
            td Fives
            td Total of Fives
            td {{player.score.fives}}
              button.btn(ng-hide='player.score.fives' ng-click="player.scoreField(ctrl.dice, 'fives')") Use
          tr
            td Sixes
            td Total of Sixes
            td {{player.score.sixes}}
              button.btn(ng-hide='player.score.sixes' ng-click="player.scoreField(ctrl.dice, 'sixes')") Use
          tr
            td Bonus
            td 35 Points
            td {{player.score.bonus}}


      table.col.s12.m6
        thead
          tr
            th Pattern Section
            th What to Score
            th Player Score
        tbody
          tr
            td Three of a Kind
            td Total of All Dice
            td
          tr
            td Four of a Kind
            td Total of All Dice
            td
          tr
            td Full House
            td 25 Points
            td
          tr
            td Small Straight
            td 30 points
            td
          tr
            td Large Straight
            td 40 Points
            td
          tr
            td Yahtzee!
            td 50 Points
            td
          tr
            td Chance
            td Total of All Dice
            td
      h2.col.s12 Total:




