@import url(https://fonts.googleapis.com/css?family=Geostar|Candal);
html {
  font-family: Candal, sans-serif;
  background-color: #999; }

h1, h2, h3, h4, h5, h6 {
  font-family: Geostar, sans-serif;
  font-size: 1.5em;
  text-align: center; }

.dieCube:hover {
  cursor: pointer; }

.card {
  padding: 1em; }

#roll {
  cursor: pointer;
  padding: 0.5em; }

#diceBox {
  width: 80%;
  margin: 2em auto; }

.dieCube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s; }
  .dieCube .front {
    transform: translateZ(25px); }
  .dieCube .back {
    transform: rotateX(-180deg) translateZ(25px); }
  .dieCube .right {
    transform: rotateY(90deg) translateZ(25px); }
  .dieCube .left {
    transform: rotateY(-90deg) translateZ(25px); }
  .dieCube .top {
    transform: rotateX(90deg) translateZ(25px); }
  .dieCube .bottom {
    transform: rotateX(-90deg) translateZ(25px); }
  .dieCube div {
    background: white;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid #646464;
    border-radius: 2px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: center;
    text-align: center;
    padding: 10px; }
  .dieCube h4 {
    font-size: 20px;
    margin: 0; }

.keeper {
  top: 25px; }
  .keeper div {
    border-color: red; }
  .keeper h4 {
    color: red; }

.allDiceContainer {
  margin: 3em auto; }

.dieContainer {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 1em 20px;
  perspective: 1000px;
  perspective-origin: 50% 100%; }

.scoreBoard {
  position: relative;
  top: 100px;
  width: 100%; }

.scorecard {
  width: 95%;
  position: absolute;
  left: 2.5%;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  cursor: pointer; }
  .scorecard:nth-child(1) {
    z-index: 10;
    top: 0px;
    transform-origin: top;
    transform: scale(1);
    opacity: 1; }
  .scorecard:nth-child(2) {
    z-index: 9;
    top: -15px;
    transform-origin: top;
    transform: scale(0.9);
    opacity: 0.9; }
  .scorecard:nth-child(3) {
    z-index: 8;
    top: -30px;
    transform-origin: top;
    transform: scale(0.8);
    opacity: 0.8; }
  .scorecard:nth-child(4) {
    z-index: 7;
    top: -45px;
    transform-origin: top;
    transform: scale(0.7);
    opacity: 0.7; }
  .scorecard:nth-child(5) {
    z-index: 6;
    top: -60px;
    transform-origin: top;
    transform: scale(0.6);
    opacity: 0.6; }
  .scorecard:nth-child(6) {
    z-index: 5;
    top: -75px;
    transform-origin: top;
    transform: scale(0.5);
    opacity: 0.5; }
  .scorecard:nth-child(7) {
    z-index: 4;
    top: -90px;
    transform-origin: top;
    transform: scale(0.4);
    opacity: 0.4; }
  .scorecard:nth-child(8) {
    z-index: 3;
    top: -105px;
    transform-origin: top;
    transform: scale(0.3);
    opacity: 0.3; }
  .scorecard:nth-child(9) {
    z-index: 2;
    top: -120px;
    transform-origin: top;
    transform: scale(0.2);
    opacity: 0.2; }
  .scorecard:nth-child(10) {
    z-index: 1;
    top: -135px;
    transform-origin: top;
    transform: scale(0.1);
    opacity: 0.1; }
  .scorecard:nth-child(11) {
    z-index: 0;
    top: -150px;
    transform-origin: top;
    transform: scale(0);
    opacity: 0; }
  .scorecard:first-child:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
    opacity: 1; }
  .scorecard:last-child {
    opacity: .5; }
