doctype html
html
  include ./includes/head.jade
  body(ng-app="Yahtzee")
    div.card(ng-controller="YahtzeeController as ctrl")
      .container
        h1 Yahtzee
        h2#roll(ng-click="ctrl.rollAll()") Roll!

        include ./includes/die.jade
        include ./includes/scorecard.jade



    include ./includes/scripts.jade