doctype html
html
  include ./includes/head.jade
  body(ng-app="Yahtzee")
    div.card(ng-controller="YahtzeeController as ctrl")
      .container
        h1 Yahtzee
        .fixed
          h2 You have {{ctrl.numRolls}} rolls left!
          include ./includes/die.jade
          h2#roll(ng-click="ctrl.rollAll()" ng-hide="ctrl.numRolls == 0") Roll!


        include ./includes/scorecard.jade



    include ./includes/scripts.jade